.register-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
}

.back-button-wrapper {
    margin-top: 1.5rem;
}

.back-button {
    padding: 0.7rem 1.2rem;
    background-color: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.back-button:hover {
    background-color: #4338ca;
}