[defaults]
host_key_checking = False
timeout = 120
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ConnectTimeout=120 -o StrictHostKeyChecking=no
retries = 5
pipelining = True
